<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <title>{{website_about_details[2]}}</title>
    <link rel="icon" href="{{ url_for('static', filename='Images/logo.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/landing.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


    <section id="banner">
        <div class="banner-div">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
              <img src="{{ url_for('static', filename= 'formImage/{}'.format(website_about_details[7])) }}" class="logo-img">
            </a>
            <ul class="navbar-nav ml-auto ul-1">

              <li class="nav-item ul-1">
                <a class="nav-link" href="/menu">Menu</a>
              </li>
            </ul>
            <button class="navbar-toggler" type="button" style="position:relative;left:10px;" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"><i class="fa fa-2x fa-bars" style="color: white;font-weight:500;font-size:34px;" aria-hidden="true"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav second-links ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#about">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact Us</a>
                </li>
                <li class="nav-item ul-2">
                  <a class="nav-link" href="/{{website_about_details[2]}}/dine-in/menu">Menu</a>
                </li>

              </ul>
            </div>
          </nav>

          <div class="container">
              <h1 class="banner-header" data-aos="fade-right">
                  Welcome to <span style="color:#4a9ce8;">{{website_about_details[2]}}</span>
              </h1>
              <p class="banner-p" data-aos="fade-right">
                {{website_about_details[3]}}
              </p>
              <div class="register-btn" data-aos="fade-right">
                <a href="/{{website_about_details[2]}}/dine-in/menu">
                  <a href="/{{website_about_details[2]}}/dine-in/menu">
                    <button class="btn btn-lg book-table">
                        Order Now
                    </button>
                  </a>
                </a>
            </div>    
          </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <h1 class="rest-name" data-aos="fade-right">
                Welcome to the {{website_about_details[2]}}
            </h1>
            <p class="rest-p" data-aos="fade-right">
              {{website_about_details[3]}}
            </p>
            <div class="row about-row" >
              <div class="col-md-6 col-sm-12 col-12 col-lg-6" data-aos="fade-right">
               <p class="about-p"> 
                {{website_about_details[6]}}
               </p>
               <div class="more" data-aos="fade-right">
               <a href="#timing" >
                 <button class="btn btn-lg explore">
                   Explore More
                 </button>
               </a>
              </div>
              </div>
              <div class="col-md-6 col-sm-12 col-12 col-lg-6">
                <div class="row">
                  <div class="col-md-6 col-sm-12 col-12 col-lg-6 mt-3" data-aos="fade-right">
                    <img src="{{ url_for('static', filename= 'formImage/{}'.format(website_about_details[9])) }}" class="gallary-img">
                  </div>
                  <div class="col-md-6 col-sm-12 col-12 col-lg-6 mt-3" data-aos="fade-right">
                    
                    <img src="{{ url_for('static', filename= 'formImage/{}'.format(website_about_details[10])) }}" class="gallary-img">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 col-sm-12 col-12 col-lg-6 mt-3" data-aos="fade-right">
                    
                    <img src="{{ url_for('static', filename= 'formImage/{}'.format(website_about_details[11])) }}" class="gallary-img">
                  </div>
                  <div class="col-md-6 col-sm-12 col-12 col-lg-6 mt-3" data-aos="fade-right">
                    <img src="{{ url_for('static', filename= 'formImage/{}'.format(website_about_details[12])) }}" class="gallary-img">
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>

    
  <section id="timing">
    <div class="container">
      <div class="row timing-row">
        <div class="col-md-3 col-12 col-sm-12 col-lg-3" style="text-align: center;" data-aos="fade-right">
          <img src="{{ url_for('static', filename='Images/breakfast-w.png') }}" class="timing-img">
          <h1 class="title-timing">
            Breakfast
          </h1>
          <!-- <h3 class="time">
            8.00 am to 10.00 am
          </h3> -->
        </div>
        <div class="col-md-3 col-12 col-sm-12 col-lg-3" style="text-align: center;" data-aos="fade-right">
          <img src="{{ url_for('static', filename='Images/lunch-w.png') }}" class="timing-img">
          <h1 class="title-timing">
            Lunch
          </h1>
          <!-- <h3 class="time">
            1.00 pm to 2.00 pm
          </h3> -->
        </div>
        <div class="col-md-3 col-12 col-sm-12 col-lg-3" style="text-align: center;" data-aos="fade-right">
          <img src="{{ url_for('static', filename='Images/dinner-w.png') }}" class="timing-img">
          <h1 class="title-timing">
            Dinner
          </h1>
          <!-- <h3 class="time">
            7.00 pm to 9.00 pm
          </h3> -->
        </div>
        <div class="col-md-3 col-12 col-sm-12 col-lg-3" style="text-align: center;" data-aos="fade-right">
          <img src="{{ url_for('static', filename='Images/dessert-w.png') }}" class="timing-img">
          <h1 class="title-timing">
            Dessert
          </h1>
          <!-- <h3 class="time">
           All Day
          </h3> -->
        </div>
      </div>
    </div>
  </section>

    <svg fill="#5971c0" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <rect x="1200" height="3.6"></rect>
        <rect height="3.6"></rect>
        <path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z" class="shape-fill"></path>
    </svg>

    <section id="features">
      <div class="container">
        <h1 class="features-h1" data-aos="fade-right">
          Our Some Features
        </h1>
        <p class="features-h1-p" data-aos="fade-right">
          {{website_about_details[3]}}
        </p>
        <div class="row">
          <div class="col-md-3 col-sm-12 col-12 col-lg-3" style="text-align: center;" data-aos="fade-right">
            <img src="{{ url_for('static', filename='Images/fresh.png') }}" class="timing-img">
            <h1 class="title-feature">
              Fresh Dishes
            </h1>
            <!-- <p class="features-p">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, quia.
            </p> -->
          </div>
          <div class="col-md-3 col-sm-12 col-12 col-lg-3" style="text-align: center;" data-aos="fade-right">
            <img src="{{ url_for('static', filename='Images/menu.png') }}" class="timing-img">
            <h1 class="title-feature">
              Various Menu
            </h1>
            <!-- <p class="features-p">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, quia.
            </p> -->
          </div>
          <div class="col-md-3 col-sm-12 col-12 col-lg-3" style="text-align: center;" data-aos="fade-right">
            <img src=" {{ url_for('static', filename='Images/fast-service.png') }}" class="timing-img">
            <h1 class="title-feature">
              Well Service
            </h1>
            <!-- <p class="features-p">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, quia.
            </p> -->
          </div>
          <div class="col-md-3 col-sm-12 col-12 col-lg-3" style="text-align: center;" data-aos="fade-right">
            <img src="{{ url_for('static', filename='Images/time.png') }}" class="timing-img">
            <h1 class="title-feature">
              Fast Delivery
            </h1>
            <!-- <p class="features-p">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, quia.
            </p> -->
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container book-container">
        <div class="row">
          
          <div class="col-md-12 col-sm-12 col-12 col-lg-12">
            <h2 class="book-header" data-aos="fade-right">
              Contact Us
          </h2>
          <p class="book-p" data-aos="fade-right">
              Feel free to Contact Us for any queries or inquiries.
          </p>
          <form action="/restaurant/{{website_about_details[2]}}" method="POST" class="book-form" data-aos="fade-right">
              <div class="row book-first-row">
                  <div class="col-md-6 col-12 col-sm-12 col-lg-6 mt-3">
                      <input type="text" name="name" placeholder="Your Name" class="form-control" required>
                  </div>
                  <div class="col-md-6 col-12 col-sm-12 col-lg-6 mt-3">
                      <input type="text" name="phone" placeholder="Your Phone" class="form-control" required>
                  </div>
              </div>
              <div class="row book-third-row">
                  <div class="col-md-12 col-12 col-sm-12 col-lg-12 mt-3">
                      <textarea class="form-control txtarea" name="msg" placeholder="Message" required></textarea>
                  </div>
              </div>
              <div class="submit-btn" data-aos="fade-right">
                  <button class="btn btn-lg book-btn" type="submit" mt-3>
                      Send
                  </button>
              </div>
          </form>
          </div>
        </div>
      </div>
    </section>

<div class="map" data-aos="fade-right">
    <iframe src="{{website_contact_details[5]}}" allowfullscreen="" loading="lazy"></iframe>
  </div>

  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-12 col-sm-12 col-lg-3"  data-aos="fade-right">
          <h3 class="footer-header about-header">
            About Us
          </h3>
          <p class="footer-p" data-aos="fade-right">
           {{website_about_details[6].split('.')[0]}}.
          </p>

          <div class="social-media" >
            <a href="{{website_contact_details[8]}}" class="social-link"><i class="fa fa-twitter social-icon" aria-hidden="true"></i></a>
            <a href="{{website_contact_details[7]}}" class="social-link"><i class="fa fa-facebook social-icon" aria-hidden="true"></i></a>
            <a href="{{website_contact_details[6]}}" class="social-link"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-md-3 col-12 col-sm-12 col-lg-3" data-aos="fade-right">
          
          <h3 class="footer-header" >
            Contact Info
          </h3>
          <p class="hours-p" style="position: relative;bottom:20px;">
            Address:<br>
            <span style="color:white;font-size:18px;">{{website_contact_details[2]}}</span>
          </p>
          <p class="hours-p" style="position: relative;bottom:20px;">
            Phone:<br>
            <span style="color:white;font-size:18px;">{{website_contact_details[3]}}</span>
          </p>
          <p class="hours-p" style="position: relative;bottom:20px;">
            Email:<br>
            <span style="color:white;font-size:18px;">{{website_contact_details[4]}}</span>
          </p>
        </div>
        <div class="col-md-3 col-12 col-sm-12 col-lg-3" data-aos="fade-right">
          <h3 class="footer-header">
            Quick Links
          </h3>
          <ul class="footer-ul">
            <li><a href="#about">About</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-12 col-sm-12 col-lg-3" data-aos="fade-right">
          <h3 class="footer-header">
            Opening Hours
          </h3>
          <p class="hours-p">
            Monday-Sunday<br>
            <span style="color:white;font-size:18px;">{{website_about_details[4]}} - {{website_about_details[5]}}</span>
          </p>
        </div>
      </div>

      <div class="row" style="text-align: center;">
        <hr class="footer-hr">
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <p class="copyright-p">
            Copyright © 2022 All Rights Reserved.
          </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-12"></div>
        <div class="col-sm-12 col-md-5 col-lg-5 col-12">
          <p class="copyright-p" >
            Designed and developed by @setupFood
          </p>
        </div>
        
        
      </div>
    </div>
  </section>

  <a href="#banner"><i class="fa fa-2x fa-arrow-up" style="position:fixed;bottom:30px;right:30px;color: white;border:1px solid #4a9ce8; border-radius:0px; background-color:#4a9ce8; height:50px; width:50px; padding:10px;" aria-hidden="true"></i></a>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 240,
            duration: 1000
        });
    </script>
  <script src="{{ url_for('static', filename='bootstrap/myjquery.js') }}"></script>
    
  <script src="{{ url_for('static', filename='bootstrap/popper.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
  </body>
</html>